{% extends 'jinja2/_base.html.jinja2' %}
<!-- This is just a sample of what a page may look like. --> 

{% block js %}
   <script src="/js/lib/jquery-3.1.1.min.js"></script>
        <script src="/js/lib/highcharts.js"></script>
        <script src="/js/lib/heatmap.js"></script>
<script src="/js/part1.js"></script>

{% endblock %}


{% block cover_image %}
<img class="full-width" src="/img/cover.jpg">
<div id="byline"> Photo credit: Photo Credit</div>
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <!-- Headline -->
  <div class="article-header">
      <!-- HEADER -->

  <div>

  <div class="content">
    <div class="section-heading"> Election preference </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>

    <div id="chart-clinton-trump-vote"></div>
    <div id="chart-trustworthiness"></div>
    <div id="chart-favorability"></div>
    <div id="hillary-stances"></div>
    <div id="trump-stances"></div>
    <div id="hillary-controversies"></div>
    <div id="trump-controversies"></div>

    <div class="section-heading"> Election preference </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  <div>

</div>
{% endblock %}