<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:image" content="http://features.thecrimson.com/2016/freshman-survey/img/cover_2020-2.jpg" />
        <title>The Harvard Crimson | Election Survey</title>
        <base href="http://127.0.0.1:4000/compiled_html/">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700|Crimson|Colaborate" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/style.css">

        {% block js %}{% endblock %}
    </head>
<body>
{% include 'jinja2/_header.html.jinja2' %}

{% block cover_image %}
{% endblock %}

{% block content%}


{% endblock %}
</body>
</html>