<header class="site-header">
    <div class="wrapper">
        <a class="header-logo" href="http://www.thecrimson.com/">
            <img src="img/logo.png" height="18" width="215" />
        </a>
        <ul class="header-nav">
            <a href="">          <li{% if 'index'     in filename %} class="active"{% endif %}>Trump v. Clinton</li></a>
            <a href="compiled_html/politics/">   <li{% if 'politics'    in filename %} class="active"{% endif %}>Political Preferences</li></a>
        </ul>
        <div class="header-logo-right">ELECTION 2016</div>
    </div>
</header>