<header class="site-header">
<div class="header-text">
<div class="header-logo-left">
  <a href="http://thecrimson.com">The Harvard Crimson</a>
</div>
<div class="header-logo-right">
  <a href="#">ELECTION 2016</a>
</div>
<div class="clearfix"></div>
</div>
</header>